@import url(reset.css);

html {
  font-size: 28px;
}

.page {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #0000ff;
  height: 20vh;
}

.logo {
  margin-left: 20px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  color: #ffffff;
}

.container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.item {
  width: 330px;
  margin: 20px;
  border: 5px solid #000000;
  box-sizing: border-box;
  text-align: center;
}

.item-content {
  padding: 10%;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1rem;
}

.footer {
  margin-top: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #0000ff;
  height: 20vh;
}

.copyright {
  margin-left: 20px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  color: #ffffff;
}

@media screen and (min-width: 600px) {
  .container {
    margin-top: 50px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .item {
    padding-top: 50px;
    min-width: 600px;
    min-height: 300px;
  }
}
